body,
html {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;

  background: url(header.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-size: 3rem;
  color: aliceblue;
}

hr {
  margin: 20px auto;
  color: #f05f44;
  border: 3px solid #f05f44;
  max-width: 65px;
  opacity: 1;
  border-color: #f05f44;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary:hover {
  background-color: #f05f44;
  border-color: #f05f44;
  border-width: 4px;
}
